@model List<Subject>

@{
    ViewData["Title"] = "Multiple Subject Information";
    Layout = "_SimpleLayout";
}
<h1>@ViewData["Title"]</h1>
<h2>From patial view </h2>

@* @foreach (var subject in Model)
{
    <partial name= "SimpleBaseSchool" model=subject/>
} *@
<partial name="TableBaseSchoolObject"></partial>