@model Student

@{
    ViewData["Title"] = "Student Information";
    Layout = "_SimpleLayout";
}
<h1>@ViewData["Title"]</h1>
<h2>Name: @Model.Name </h2>

<strong>From Partial View</strong>
<partial name="SimpleBaseSchool"></partial>
<p>
    @ViewBag.Date
</p>