@model List<Student>

@{
    ViewData["Title"] = "Multiple Student Information";
    Layout = "_SimpleLayout";
}
<h1>@ViewData["Title"]</h1>
<h2>From patial view </h2>
@* 
@foreach (var student in Model)
{
    <partial name= "SimpleBaseSchool" model=student/>
} *@

<partial name="TableBaseSchoolObject"/>