@model List<Student>

@{
    ViewData["Title"] = "Multiple Student Information";
    Layout = "_SimpleLayout";
}
<h1>@ViewData["Title"]</h1>
<h2>From patial view </h2>
@* 
@foreach (var student in Model)
{
    <partial name= "SimpleBaseSchool" model=student/>
} *@

<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Id</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Name</td>
                <td>@student.Id</td>
            </tr>
        }
    </tbody>
</table>