@model School

@{
    ViewData["Title"] = "Home School";
    Layout = "_SimpleLayout";
}
<h1>School</h1>
<h2>Address: @Model.Name </h2>
<h2><strong>Foundation Year: </strong> @Model.FoundationYear</h2>